  
.font-format-courier-chocolate

{color: blue ;
font-family: 'Courier New', Courier, monospace;
font-size: 110%;
}

.font-format-courier-aqua

{color:aqua;
font-family: 'Courier New', Courier, monospace;
font-size: 110%;
}